@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    /* width: 100%; */
}
h1, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
p {
    font-weight: 400;
}
button {
    cursor: pointer;
    font-weight: 700;
}

header {
    background-image: url(images/bg-hero-desktop.svg);
    background-size: cover;
    width: 100%;
    padding: 3rem 0 5rem;
    margin-bottom: 3rem;
    height: 100vh;
}
.htop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin:5rem auto 3rem;
}
.htop button {
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 0.5rem hsl(220, 12%, 85%);
    background-color: white;
    border: none;
    color:hsl(192, 100%, 9%);
    transition: color 1s ease;
}
.htop button:hover {
    color:hsl(208, 11%, 55%);
}
.hbottom {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
}
.hbottom-left {
    width: 50%;
    padding-right: 1.5rem;
    color: hsl(192, 100%, 9%);
}
.hbottom-left h1 {
    margin-bottom: 1.5rem;
}
.hbottom-left p {
    margin-bottom: 1.5rem;
}
.hbottom-left button {
    background-color: hsl(322, 100%, 66%);
    color: hsl(193, 100%, 96%);
    border: none;
    padding: 1rem 3rem;
    border-radius: 2rem;
    transition: background-color 2s ease;
}
.hbottom-left button:hover {
    background-color: hsl(322, 100%, 80%);
    transition: background-color 2s ease;
}

.hbottom-right {
    width: 50%;
}
.hbottom-right img{
    width: 100%;
}

main {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
main img{
    width: 100%;
}
main h3 {
    margin-bottom: 1.5rem;
    color: hsl(192, 100%, 9%);
}
main p {
    color: hsl(208, 11%, 55%);
}
.content-grow {
    box-shadow: 0px 0px 1rem hsl(220, 12%, 85%);
    height: 55vh;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
}
.lcgrow {
    width: 50%;
    padding: 0 8rem;
}
.rcgrow {
    width: 50%;
    padding: 1rem;
}
.content-flow {
    box-shadow: 0px 0px 1rem hsl(220, 12%, 85%);
    height: 55vh;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
}
.lcflow {
    width: 50%;
    padding: 1rem;
}
.rcflow {
    width: 50%;
    padding: 0 8rem;
}
.content-users {
    box-shadow: 0px 0px 1rem hsl(220, 12%, 85%);
    height: 55vh;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
}
.lcusers {
    width: 50%;
    padding: 0 8rem;
}
.rcusers {
    width: 50%;
    padding: 1rem;
}
.content-bottom {
    box-shadow: 0px 0px 0.1rem hsl(220, 12%, 85%);
    width: 50%;
    margin: 3rem auto 0;
    text-align: center;
    padding: 2.5rem 2rem;
    border-radius: 0.5rem;
    position: relative;
    top: 4rem;
    background-color: white;
}
.content-bottom button {
    background-color: hsl(322, 100%, 66%);
    color: hsl(193, 100%, 96%);
    border: none;
    padding: 1rem 3rem;
    border-radius: 2rem;
    transition: background-color 2s ease;
}
.content-bottom button:hover {
    background-color: hsl(322, 100%, 80%);
    transition: background-color 2s ease;
}

footer {
    width: 100%;
    color: hsl(193, 100%, 96%);
    background-color: hsl(192, 100%, 9%);
    display: flex;
    flex-direction: column;
    padding: 7rem 0 2rem;
}
.ftop {
    width: 80%;
    margin: 1rem auto;
}
.ftop img {
    background-color: hsl(193, 100%, 96%);
    padding: 1rem;
    border-radius: 1rem;
}
.fbottom {
    width: 80%;
    margin: auto;
    display: flex;
    padding: 1rem;
}
.col1 {
    width: 40%;
    padding: 0 6rem 0 0;
}
.col1-rows {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.col1-rows img {
    margin-right: 2rem;
    width: 1rem;
    height: 1rem;
}
.col2 {
    width: 15%;
    display: flex;
    flex-direction: column;
    
}
.col2 a {
    text-decoration: none;
    color: hsl(193, 100%, 96%);
    margin-bottom: 1rem;
}
.col3 {
    width: 15%;
    display: flex;
    flex-direction: column;
}
.col3 a {
    text-decoration: none;
    color: hsl(193, 100%, 96%);
    margin-bottom: 1rem;
}
.col3 a:hover, .col2 a:hover {
    text-decoration:underline;
}
.col4 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.col4 i {
    margin-right: 1rem;
    border: 1px solid hsl(193, 100%, 96%);
    border-radius: 50%;
    padding: 0.5rem;
    width: 1rem;
    height: 1rem;
    text-align: center;
    color: hsl(193, 100%, 96%);
    transition: color 3s, border 1s;
}
.col4 a i:hover {
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    cursor: pointer;
}
.col4 small i {
    border: none;
    margin-right: 0;
    padding: 0.1rem 0.2rem;
}


@media screen and (max-width:600px) {
    * {
        transition: all 0.5s ease;
    }
    header {
        background-image: url(images/bg-hero-mobile.svg);
        background-size: contain;
        padding-top: 0;
    }
    .htop {
        width: 90%;
    }
    .htop button {
        padding: 0.5rem 1rem;
    }
    .hbottom {
        width: 90%;
        flex-direction: column;
        text-align: center;
    }
    .hbottom-left {
        width: 90%;
        margin: 3rem auto;
        padding: 0;
    }
    .hbottom-right {
        width: 90%;
        margin-bottom: 3rem;
    }

    main {
        width: 100%;
    }
    main img {
        margin: 0 auto;
    }
    .content-grow {
        flex-direction: column-reverse;
        margin: 5rem auto 0;
        height: 100vh;
        width: 85%;
        justify-content: space-around;
    }
    .lcgrow {
        width: 70%;
        text-align: center;
        padding: 0;
    }
    .rcgrow {
        width: 70%;
        margin-top: 2rem;
        padding: 0;
    }
    .content-flow {
        flex-direction: column;
        margin: 5rem auto 0;
        height: 100vh;
        width: 85%;
        justify-content: space-around;
    }
    .lcflow {
        width: 70%;
        margin-top: 2rem;
        padding: 0;
    }
    .rcflow {
        width: 70%;
        text-align: center;
        padding: 0;
    }
    .content-users{
        flex-direction: column-reverse;
        margin: 5rem auto 0;
        height: 100vh;
        width: 85%;
        justify-content: space-around;
    }
    .lcusers {
        width: 70%;
        text-align: center;
        padding: 0;
    }
    .rcusers {
        width: 70%;
        margin-top: 2rem;
        padding: 0;
    }
    .content-bottom {
        width: 65%;
    }
    .ftop {
        width: 85%;
    }
    .fbottom {
        width: 85%;
        flex-direction: column;
    }
    .col1 {
        padding: 0;
    }
    .col1, .col2, .col3, .col4 {
        width: 85%;
        margin-bottom: 2rem;
    }
    .col4 {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .col1-rows img {
        margin-top: 0.2rem;
    }
    .col4 a i {
        margin-bottom: 1rem;
    }

}


